pipeline/pl_SkillableDataIngestion_cli.json
{
    "activities": [
        {
            "name": "GetApiKey",
            "description": "Retrieve Skillable API key from Key Vault",
            "type": "WebActivity",
            "dependsOn": [],
            "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
                "method": "GET",
                "url": "https://kv-skillable-dashboard.vault.azure.net/secrets/SkillableApiKey?api-version=7.0",
                "authentication": {
                    "type": "MSI",
                    "resource": "https://vault.azure.net"
                }
            }
        },
        {
            "name": "SetApiKey",
            "description": "Store the API key in a variable",
            "type": "SetVariable",
            "dependsOn": [
                {
                    "activity": "GetApiKey",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "policy": {
                "secureOutput": true,
                "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
                "variableName": "ApiKeyVar",
                "value": {
                    "value": "@activity('GetApiKey').output.value",
                    "type": "Expression"
                }
            }
        },
        {
            "name": "EnsureFirstPage",
            "description": "Retry the first-page call until the API returns TotalResults. The Skillable API intermittently returns an 'Execution Timeout Expired' body as HTTP 200, which ADF treats as success, so activity-level retry never fires. This Until loop retries until a valid response arrives.",
            "type": "Until",
            "dependsOn": [
                {
                    "activity": "SetApiKey",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "userProperties": [],
            "typeProperties": {
                "expression": {
                    "value": "@variables('FirstPageOk')",
                    "type": "Expression"
                },
                "timeout": "0.01:00:00",
                "activities": [
                    {
                        "name": "GetFirstPageAndCount",
                        "description": "Activity 1-Web Activity: GetFirstPageAndCount",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 2,
                            "retryIntervalInSeconds": 60,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "GET",
                            "headers": {
                                "api_key": {
                                    "value": "@variables('ApiKeyVar')",
                                    "type": "Expression"
                                },
                                "User-Agent": "AzureDataFactory/1.0"
                            },
                            "url": {
                                "value": "@concat('https://labondemand.com/api/v3/labinstance/search?start=', string(pipeline().parameters.StartEpoch), '&end=', string(pipeline().parameters.EndEpoch), '&pageIndex=0&pageSize=', string(pipeline().parameters.PageSize), '&sort=start%20desc&mode=10')",
                                "type": "Expression"
                            },
                            "httpRequestTimeout": "00:05:00"
                        }
                    },
                    {
                        "name": "CaptureTotalResults",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetFirstPageAndCount",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "TotalResultsVar",
                            "value": {
                                "value": "@string(if(contains(activity('GetFirstPageAndCount').output, 'TotalResults'), activity('GetFirstPageAndCount').output.TotalResults, 0))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "SetFirstPageOk",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "CaptureTotalResults",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "FirstPageOk",
                            "value": {
                                "value": "@contains(activity('GetFirstPageAndCount').output, 'TotalResults')",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "WaitBeforeRetry",
                        "type": "Wait",
                        "dependsOn": [
                            {
                                "activity": "SetFirstPageOk",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "waitTimeInSeconds": 10
                        }
                    }
                ]
            }
        },
        {
            "name": "SetTotalPages",
            "type": "SetVariable",
            "dependsOn": [
                {
                    "activity": "EnsureFirstPage",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "policy": {
                "secureOutput": false,
                "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
                "variableName": "TotalPages",
                "value": {
                    "value": "@add(div(int(variables('TotalResultsVar')), pipeline().parameters.PageSize), if(equals(mod(int(variables('TotalResultsVar')), pipeline().parameters.PageSize), 0), 0, 1))",
                    "type": "Expression"
                }
            }
        },
        {
            "name": "BuildPageArray",
            "type": "SetVariable",
            "dependsOn": [
                {
                    "activity": "SetTotalPages",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "policy": {
                "secureOutput": false,
                "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
                "variableName": "PageArray",
                "value": "@range(0, variables('TotalPages'))"
            }
        },
        {
            "name": "LogRefreshTime",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
                {
                    "activity": "ForEachPage",
                    "dependencyConditions": [
                        "Completed"
                    ]
                }
            ],
            "policy": {
                "timeout": "0.00:05:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
            },
            "userProperties": [],
            "linkedServiceName": {
                "referenceName": "ls_AzureSql",
                "type": "LinkedServiceReference"
            },
            "typeProperties": {
                "storedProcedureName": "dbo.usp_LogRefresh",
                "storedProcedureParameters": {
                    "WindowStartEpoch": {
                        "value": "@pipeline().parameters.StartEpoch",
                        "type": "Int64"
                    },
                    "WindowEndEpoch": {
                        "value": "@pipeline().parameters.EndEpoch",
                        "type": "Int64"
                    }
                }
            }
        },
        {
            "name": "ForEachPage",
            "type": "ForEach",
            "dependsOn": [
                {
                    "activity": "BuildPageArray",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "userProperties": [],
            "typeProperties": {
                "items": {
                    "value": "@variables('PageArray')",
                    "type": "Expression"
                },
                "isSequential": true,
                "activities": [
                    {
                        "name": "CopySearchResultsToSql",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 4,
                            "retryIntervalInSeconds": 90,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "RestSource",
                                "httpRequestTimeout": "00:05:00",
                                "requestInterval": "00.00:00:00.010",
                                "additionalHeaders": {
                                    "User-Agent": "AzureDataFactory/1.0",
                                    "Accept": "application/json"
                                },
                                "requestMethod": "GET",
                                "paginationRules": {
                                    "supportRFC5988": "true"
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "sqlWriterStoredProcedureName": "dbo.usp_UpsertInstance",
                                "sqlWriterTableType": "dbo.InstanceTableType",
                                "storedProcedureTableTypeParameterName": "InstanceData",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "disableMetricsCollection": false
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mapComplexValuesToString": false,
                                "collectionReference": "$['Results']",
                                "mappings": [
                                    { "source": { "name": "Id", "type": "Int32" }, "sink": { "name": "InstanceId", "type": "Int32" } },
                                    { "source": { "name": "LabProfileId", "type": "Int32" }, "sink": { "name": "LabProfileId", "type": "Int32" } },
                                    { "source": { "name": "LabProfileName", "type": "String" }, "sink": { "name": "LabProfileName", "type": "String" } },
                                    { "source": { "name": "SeriesId", "type": "Int32" }, "sink": { "name": "SeriesId", "type": "Int32" } },
                                    { "source": { "name": "SeriesName", "type": "String" }, "sink": { "name": "SeriesName", "type": "String" } },
                                    { "source": { "name": "UserId", "type": "String" }, "sink": { "name": "UserId", "type": "String" } },
                                    { "source": { "name": "UserFirstName", "type": "String" }, "sink": { "name": "UserFirstName", "type": "String" } },
                                    { "source": { "name": "UserLastName", "type": "String" }, "sink": { "name": "UserLastName", "type": "String" } },
                                    { "source": { "name": "UserEmail", "type": "String" }, "sink": { "name": "UserEmail", "type": "String" } },
                                    { "source": { "name": "ClassId", "type": "Int32" }, "sink": { "name": "ClassId", "type": "Int32" } },
                                    { "source": { "name": "Start", "type": "Int64" }, "sink": { "name": "StartEpoch", "type": "Int64" } },
                                    { "source": { "name": "End", "type": "Int64" }, "sink": { "name": "EndEpoch", "type": "Int64" } },
                                    { "source": { "name": "LastActivity", "type": "Int64" }, "sink": { "name": "LastActivityEpoch", "type": "Int64" } },
                                    { "source": { "name": "Expires", "type": "Int64" }, "sink": { "name": "ExpirationEpoch", "type": "Int64" } },
                                    { "source": { "name": "State", "type": "String" }, "sink": { "name": "State", "type": "String" } },
                                    { "source": { "name": "CompletionStatus", "type": "String" }, "sink": { "name": "CompletionStatus", "type": "String" } },
                                    { "source": { "name": "IpAddress", "type": "String" }, "sink": { "name": "IpAddress", "type": "String" } },
                                    { "source": { "name": "Country", "type": "String" }, "sink": { "name": "Country", "type": "String" } },
                                    { "source": { "name": "Region", "type": "String" }, "sink": { "name": "Region", "type": "String" } },
                                    { "source": { "name": "City", "type": "String" }, "sink": { "name": "City", "type": "String" } },
                                    { "source": { "name": "Latitude", "type": "Double" }, "sink": { "name": "Latitude", "type": "Double" } },
                                    { "source": { "name": "Longitude", "type": "Double" }, "sink": { "name": "Longitude", "type": "Double" } },
                                    { "source": { "name": "DatacenterId", "type": "Int32" }, "sink": { "name": "DatacenterId", "type": "Int32" } },
                                    { "source": { "name": "DatacenterName", "type": "String" }, "sink": { "name": "DatacenterName", "type": "String" } },
                                    { "source": { "name": "LabHostId", "type": "Int32" }, "sink": { "name": "LabHostId", "type": "Int32" } },
                                    { "source": { "name": "LabHostName", "type": "String" }, "sink": { "name": "LabHostName", "type": "String" } },
                                    { "source": { "name": "DeliveryRegionName", "type": "String" }, "sink": { "name": "DeliveryRegionName", "type": "String" } },
                                    { "source": { "name": "LastLatency", "type": "Int32" }, "sink": { "name": "LastLatency", "type": "Int32" } },
                                    { "source": { "name": "ErrorCount", "type": "Int32" }, "sink": { "name": "ErrorCount", "type": "Int32" } },
                                    { "source": { "name": "StartupDuration", "type": "Int32" }, "sink": { "name": "StartupDuration", "type": "Int32" } },
                                    { "source": { "name": "TotalRunTime", "type": "Int32" }, "sink": { "name": "TotalRunTime", "type": "Int32" } },
                                    { "source": { "name": "TimeInSession", "type": "Int32" }, "sink": { "name": "TimeInSession", "type": "Int32" } },
                                    { "source": { "name": "TaskCompletePercent", "type": "Double" }, "sink": { "name": "TaskCompletePercent", "type": "Double" } },
                                    { "source": { "name": "ExamPassed", "type": "Boolean" }, "sink": { "name": "ExamPassed", "type": "Boolean" } },
                                    { "source": { "name": "ExamScore", "type": "Double" }, "sink": { "name": "ExamScore", "type": "Double" } },
                                    { "source": { "name": "IsExam", "type": "Boolean" }, "sink": { "name": "IsExam", "type": "Boolean" } },
                                    { "source": { "name": "PlatformId", "type": "Int32" }, "sink": { "name": "PlatformId", "type": "Int32" } },
                                    { "source": { "name": "ApiConsumerName", "type": "String" }, "sink": { "name": "ApiConsumer", "type": "String" } }
                                ]
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_SkillableSearch",
                                "type": "DatasetReference",
                                "parameters": {
                                    "relativeUrl": {
                                        "value": "@concat('labinstance/search?start=', string(pipeline().parameters.StartEpoch), '&end=', string(pipeline().parameters.EndEpoch), '&pageIndex=', string(item()), '&pageSize=', string(pipeline().parameters.PageSize), '&sort=start%20desc&mode=10&api_key=', uriComponent(variables('ApiKeyVar')))",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_SqlInstances",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "SkipTimedOutPage",
                        "type": "Wait",
                        "dependsOn": [
                            {
                                "activity": "CopySearchResultsToSql",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "waitTimeInSeconds": 1
                        }
                    }
                ]
            }
        }
    ],
    "policy": {
        "elapsedTimeMetric": {}
    },
    "parameters": {
        "StartEpoch": {
            "type": "int"
        },
        "EndEpoch": {
            "type": "int"
        },
        "PageSize": {
            "type": "int",
            "defaultValue": 10
        }
    },
    "variables": {
        "ApiKeyVar": {
            "type": "String",
            "defaultValue": ""
        },
        "TotalResults": {
            "type": "Integer",
            "defaultValue": 0
        },
        "TotalPages": {
            "type": "Integer",
            "defaultValue": 0
        },
        "PageArray": {
            "type": "Array",
            "defaultValue": []
        },
        "FirstPageOk": {
            "type": "Boolean",
            "defaultValue": false
        },
        "TotalResultsVar": {
            "type": "String",
            "defaultValue": "0"
        }
    },
    "annotations": []
}