adf/arm_template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "defaultValue": "adf-skillable-dashboard",
      "metadata": {
        "description": "Name of the Azure Data Factory instance"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for resources"
      }
    },
    "sqlServerName": {
      "type": "string",
      "metadata": {
        "description": "Fully qualified SQL server name (e.g., sql-skillable-xxxx.database.windows.net)"
      }
    },
    "sqlDatabaseName": {
      "type": "string",
      "defaultValue": "SkillableLabTelemetry",
      "metadata": {
        "description": "SQL Database name"
      }
    },
    "sqlAdminUser": {
      "type": "string",
      "defaultValue": "sqladmin",
      "metadata": {
        "description": "SQL admin username"
      }
    },
    "sqlAdminPassword": {
      "type": "securestring",
      "metadata": {
        "description": "SQL admin password"
      }
    },
    "skillableApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "Skillable API key for labondemand.com"
      }
    }
  },
  "variables": {
    "factoryId": "[resourceId('Microsoft.DataFactory/factories', parameters('factoryName'))]",
    "sqlConnectionString": "[concat('Server=tcp:', parameters('sqlServerName'), ',1433;Database=', parameters('sqlDatabaseName'), ';User ID=', parameters('sqlAdminUser'), ';Password=', parameters('sqlAdminPassword'), ';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;')]"
  },
  "resources": [
    {
      "type": "Microsoft.DataFactory/factories",
      "apiVersion": "2018-06-01",
      "name": "[parameters('factoryName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {}
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/ls_SkillableAPI')]",
      "dependsOn": [
        "[variables('factoryId')]"
      ],
      "properties": {
        "type": "RestService",
        "typeProperties": {
          "url": "https://labondemand.com/api/v3/",
          "enableServerCertificateValidation": true,
          "authenticationType": "Anonymous"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/ls_AzureSql')]",
      "dependsOn": [
        "[variables('factoryId')]"
      ],
      "properties": {
        "type": "AzureSqlDatabase",
        "typeProperties": {
          "connectionString": "[variables('sqlConnectionString')]"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/ds_SkillableSearch')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'ls_SkillableAPI')]"
      ],
      "properties": {
        "type": "RestResource",
        "linkedServiceName": {
          "referenceName": "ls_SkillableAPI",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {}
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/datasets",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/ds_SqlInstances')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'ls_AzureSql')]"
      ],
      "properties": {
        "type": "AzureSqlTable",
        "linkedServiceName": {
          "referenceName": "ls_AzureSql",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "tableName": "dbo.tblInstances"
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/pl_SkillableDataIngestion')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'ds_SkillableSearch')]",
        "[resourceId('Microsoft.DataFactory/factories/datasets', parameters('factoryName'), 'ds_SqlInstances')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'ls_AzureSql')]"
      ],
      "properties": {
        "activities": [
          {
            "name": "GetFirstPageAndCount",
            "type": "WebActivity",
            "typeProperties": {
              "method": "GET",
              "url": {
                "value": "@concat('https://labondemand.com/api/v3/labinstance/search?api_key=', pipeline().parameters.SkillableApiKey, '&start=', string(pipeline().parameters.StartEpoch), '&end=', string(pipeline().parameters.EndEpoch), '&pageIndex=0&pageSize=', string(pipeline().parameters.PageSize), '&sort=start%20desc&mode=10')",
                "type": "Expression"
              }
            }
          },
          {
            "name": "SetTotalPages",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "GetFirstPageAndCount",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "variableName": "TotalPages",
              "value": {
                "value": "@add(div(activity('GetFirstPageAndCount').output.TotalCount, pipeline().parameters.PageSize), if(equals(mod(activity('GetFirstPageAndCount').output.TotalCount, pipeline().parameters.PageSize), 0), 0, 1))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "BuildPageArray",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "SetTotalPages",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "variableName": "PageArray",
              "value": {
                "value": "@range(0, variables('TotalPages'))",
                "type": "Expression"
              }
            }
          },
          {
            "name": "ForEachPage",
            "type": "ForEach",
            "dependsOn": [
              {
                "activity": "BuildPageArray",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "items": {
                "value": "@variables('PageArray')",
                "type": "Expression"
              },
              "isSequential": true,
              "activities": [
                {
                  "name": "CopySearchResultsToSql",
                  "type": "Copy",
                  "typeProperties": {
                    "source": {
                      "type": "RestSource",
                      "httpRequestTimeout": "00:02:00",
                      "requestInterval": "00.00:00:01.000",
                      "additionalHeaders": {},
                      "requestBody": "",
                      "requestMethod": "GET"
                    },
                    "sink": {
                      "type": "AzureSqlSink",
                      "sqlWriterStoredProcedureName": "dbo.usp_UpsertInstance",
                      "sqlWriterTableType": "dbo.InstanceTableType",
                      "storedProcedureTableTypeParameterName": "InstanceData"
                    },
                    "enableStaging": false
                  },
                  "inputs": [
                    {
                      "referenceName": "ds_SkillableSearch",
                      "type": "DatasetReference",
                      "parameters": {
                        "relativeUrl": {
                          "value": "@concat('labinstance/search?api_key=', pipeline().parameters.SkillableApiKey, '&start=', string(pipeline().parameters.StartEpoch), '&end=', string(pipeline().parameters.EndEpoch), '&pageIndex=', string(item()), '&pageSize=', string(pipeline().parameters.PageSize), '&sort=start%20desc&mode=10')",
                          "type": "Expression"
                        }
                      }
                    }
                  ],
                  "outputs": [
                    {
                      "referenceName": "ds_SqlInstances",
                      "type": "DatasetReference"
                    }
                  ]
                }
              ]
            }
          },
          {
            "name": "UpdateGeoBuckets",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [
              {
                "activity": "ForEachPage",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "typeProperties": {
              "storedProcedureName": "dbo.usp_UpdateGeoBuckets",
              "storedProcedureParameters": {
                "WindowStartEpoch": {
                  "value": {
                    "value": "@pipeline().parameters.StartEpoch",
                    "type": "Expression"
                  },
                  "type": "Int64"
                },
                "WindowEndEpoch": {
                  "value": {
                    "value": "@pipeline().parameters.EndEpoch",
                    "type": "Expression"
                  },
                  "type": "Int64"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_AzureSql",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "parameters": {
          "StartEpoch": {
            "type": "int"
          },
          "EndEpoch": {
            "type": "int"
          },
          "PageSize": {
            "type": "int",
            "defaultValue": 100
          },
          "SkillableApiKey": {
            "type": "string"
          }
        },
        "variables": {
          "TotalPages": {
            "type": "Integer",
            "defaultValue": 0
          },
          "PageArray": {
            "type": "Array",
            "defaultValue": []
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/tr_Every6Hours')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), 'pl_SkillableDataIngestion')]"
      ],
      "properties": {
        "type": "TumblingWindowTrigger",
        "typeProperties": {
          "frequency": "Hour",
          "interval": 6,
          "startTime": "2026-06-01T05:00:00Z",
          "delay": "00:00:00",
          "maxConcurrency": 1,
          "retryPolicy": {
            "count": 3,
            "intervalInSeconds": 300
          }
        },
        "pipeline": {
          "pipelineReference": {
            "type": "PipelineReference",
            "referenceName": "pl_SkillableDataIngestion"
          },
          "parameters": {
            "StartEpoch": "@div(sub(ticks(trigger().outputs.windowStartTime), ticks('1970-01-01T00:00:00Z')), 10000000)",
            "EndEpoch": "@div(sub(ticks(trigger().outputs.windowEndTime), ticks('1970-01-01T00:00:00Z')), 10000000)",
            "PageSize": 100,
            "SkillableApiKey": "[parameters('skillableApiKey')]"
          }
        }
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/pl_WeeklyDataPurge')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/linkedServices', parameters('factoryName'), 'ls_AzureSql')]"
      ],
      "properties": {
        "activities": [
          {
            "name": "CleanupOldData",
            "type": "SqlServerStoredProcedure",
            "typeProperties": {
              "storedProcedureName": "dbo.usp_CleanupOldData",
              "storedProcedureParameters": {
                "RetentionDays": {
                  "value": "7",
                  "type": "Int32"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_AzureSql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "name": "[concat(parameters('factoryName'), '/tr_WeeklyPurge')]",
      "dependsOn": [
        "[variables('factoryId')]",
        "[resourceId('Microsoft.DataFactory/factories/pipelines', parameters('factoryName'), 'pl_WeeklyDataPurge')]"
      ],
      "properties": {
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2026-06-05T05:00:00Z",
            "timeZone": "UTC",
            "schedule": {
              "hours": [
                5
              ],
              "minutes": [
                0
              ],
              "weekDays": [
                "Friday"
              ]
            }
          }
        },
        "pipelines": [
          {
            "pipelineReference": {
              "type": "PipelineReference",
              "referenceName": "pl_WeeklyDataPurge"
            }
          }
        ]
      }
    }
  ]
}